<div class="col-12 text-center">
  <div class="card mb-3 box-shadow">
      <svg width="286" height="180" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 286 180" preserveAspectRatio="none"><defs><style type="text/css">#holder_164c8fa578c text { fill:rgba(255,255,255,.75);font-weight:normal;font-family:Helvetica, monospace;font-size:14pt } </style></defs><g id="holder_164c8fa578c"><rect width="286" height="180" fill="#777"></rect><g><text x="107.203125" y="96.3">286x180</text></g></g></svg>
    <div class="card-body">
      <h4 class="my-0 font-weight-normal">{{stagiaire.nom}} {{stagiaire.prenom}}</h4>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary">Editer</button>
    </div>
  </div>
</div>